@media only screen and (max-width:580px) and (min-width:321px)
{
.container {
	width: 100%;
}
div#content-column {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
div.content-inner {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
.sidebar-first div.content-inner {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
.sidebar-second div.content-inner {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
.two-sidebars div.content-inner {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
div.sidebar {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
.sidebar-first div.sidebar {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
.sidebar-second div.sidebar {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
.two-sidebars div.sidebar {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
div.region .block {
	width: 100%; clear: both; margin-right: 0px; margin-left: 0px; float: none; display: block;
}
.at-panel .region {
	float: left; display: inline;
}
.three-3x33 > .region {
	width: 100%; clear: both; float: none; display: block;
}
.three-25-25-50 > .region {
	width: 100%; clear: both; float: none; display: block;
}
.three-25-50-25 > .region {
	width: 100%; clear: both; float: none; display: block;
}
.three-50-25-25 > .region {
	width: 100%; clear: both; float: none; display: block;
}
.two-66-33 > .region {
	width: 100%; clear: both; float: none; display: block;
}
.two-33-66 > .region {
	width: 100%; clear: both; float: none; display: block;
}
.two-50 > .region {
	width: 100%; clear: both; float: none; display: block;
}
.two-brick > .panel-row > .region {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-right > .inset-wrapper {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-right > .inset-wrapper > .region {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-right > .region-three-inset-right-sidebar {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-left > .inset-wrapper {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-left > .inset-wrapper > .region {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-left > .region-three-inset-left-sidebar {
	width: 100%; clear: both; float: none; display: block;
}
.four-4x25 > .panel-row > .region {
	width: 100%; clear: both; float: none; display: block;
}
.four-4x25 > .panel-row {
	width: 100%; clear: both; float: none; display: block;
}
.six-6x16 > .panel-row {
	width: 100%; clear: both; float: none; display: block;
}
.five-5x20 > .panel-row > .region {
	width: 100%; clear: both; float: none; display: block;
}
.five-5x20 > .panel-row {
	width: 100%; clear: both; float: none; display: block;
}
.six-6x16 > .panel-row > .region {
	width: 50%; float: left;
}
}
@media only screen and (max-width:768px) and (min-width:581px)
{
.container {
	width: 100%;
}
.two-sidebars .content-inner {
	margin-right: 0px; margin-left: 0px;
}
.one-sidebar .content-inner {
	margin-right: 0px; margin-left: 0px;
}
.region-sidebar-first {
	margin-right: 0px; margin-left: 0px;
}
.region-sidebar-second {
	margin-right: 0px; margin-left: 0px;
}
.region-sidebar-first {
	width: 50%;
}
.region-sidebar-second {
	width: 50%;
}
.one-sidebar .sidebar {
	width: 100%;
}
.region-sidebar-first {
	overflow: hidden; clear: none; margin-top: 20px; float: left;
}
.region-sidebar-second {
	overflow: hidden; clear: none; margin-top: 20px; float: left;
}
.block.region-sidebar-first {
	width: 100%;
}
.region-sidebar-second .block {
	width: 100%;
}
.at-panel .region {
	float: left; display: inline;
}
.three-3x33 > .region {
	width: 50%;
}
.three-50-25-25 > .region-three-50-25-25-second {
	width: 50%;
}
.three-50-25-25 .region-three-50-25-25-third {
	width: 50%;
}
.two-50 > .region {
	width: 50%;
}
.two-brick > .panel-row > .region {
	width: 50%;
}
.four-4x25 > .panel-row > .region {
	width: 50%;
}
.five-5x20 > .panel-row > div.region {
	width: 50%;
}
.three-3x33 > div.region-three-33-first {
	width: 100%; clear: both; float: none; display: block;
}
.three-25-25-50 > .region-three-25-25-50-first {
	width: 100%; clear: both; float: none; display: block;
}
.three-25-50-25 > .region-three-25-50-25-first {
	width: 100%; clear: both; float: none; display: block;
}
.three-50-25-25 > .region-three-50-25-25-first {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-right > .inset-wrapper > .region {
	width: 100%; clear: both; float: none; display: block;
}
.three-inset-left > .inset-wrapper > .region {
	width: 100%; clear: both; float: none; display: block;
}
.four-4x25 > .panel-row {
	width: 100%; clear: both; float: none; display: block;
}
.six-6x16 > .panel-row {
	width: 100%; clear: both; float: none; display: block;
}
.five-5x20 > div.panel-row {
	width: 100%; clear: both; float: none; display: block;
}
.five-5x20 > div.panel-row > div.region-five-fifth {
	width: 100%; clear: both; float: none; display: block;
}
.three-25-25-50 > div.region-three-25-25-50-second {
	width: 25%;
}
.three-25-50-25 > div.region-three-25-50-25-third {
	width: 25%;
}
.three-inset-right > .region-three-inset-right-sidebar {
	width: 25%;
}
.three-25-25-50 > div.region-three-25-25-50-third {
	width: 75%;
}
.three-25-50-25 > div.region-three-25-50-25-second {
	width: 75%;
}
.two-66-33 > .region-two-66-33-first {
	width: 66.66%;
}
.two-33-66 > .region-two-33-66-second {
	width: 66.66%;
}
.two-66-33 > .region-two-66-33-second {
	width: 33.33%;
}
.two-33-66 > .region-two-33-66-first {
	width: 33.33%;
}
.two-brick > .panel-row {
	float: none;
}
.three-inset-right > .inset-wrapper {
	width: 75%; float: left;
}
.three-inset-left > .region-three-inset-left-sidebar {
	width: 25%; float: right;
}
.three-inset-left > .inset-wrapper {
	width: 75%; float: right;
}
.six-6x16 > .panel-row > .region {
	width: 50%; float: left;
}
}
@media only screen and (max-width:1024px) and (min-width:769px)
{
.container {
	width: 100%;
}
#content-column {
	clear: none; float: left;
}
.content-column {
	clear: none; float: left;
}
div.sidebar {
	clear: none; float: left;
}
.two-sidebars .content-inner {
	margin-right: 25%; margin-left: 25%;
}
.sidebar-first .content-inner {
	margin-right: 0px; margin-left: 25%;
}
.sidebar-second .content-inner {
	margin-right: 25%; margin-left: 0px;
}
.region-sidebar-first {
	width: 25%; margin-left: -100%;
}
.region-sidebar-second {
	width: 25%; margin-left: -25%;
}
.at-panel .region {
	float: left; display: inline;
}
.three-3x33 > .region {
	width: 33.33%;
}
.two-66-33 > .region-two-66-33-second {
	width: 33.33%;
}
.two-33-66 > .region-two-33-66-first {
	width: 33.33%;
}
.three-inset-right > .inset-wrapper > div.region-three-inset-right-inset {
	width: 33.33%;
}
.three-inset-left > .inset-wrapper > div.region-three-inset-left-inset {
	width: 33.33%;
}
.five-5x20 > .row-2 > .region {
	width: 33.33%;
}
.three-25-25-50 > .region {
	width: 25%;
}
.three-25-50-25 > .region {
	width: 25%;
}
.three-50-25-25 > .region {
	width: 25%;
}
.three-inset-right > .region-three-inset-right-sidebar {
	width: 25%;
}
.three-inset-left > .region-three-inset-left-sidebar {
	width: 25%;
}
.three-25-25-50 > div.region-three-25-25-50-third {
	width: 50%;
}
.three-25-50-25 > div.region-three-25-50-25-second {
	width: 50%;
}
.three-50-25-25 > div.region-three-50-25-25-first {
	width: 50%;
}
.two-50 > .region {
	width: 50%;
}
.two-brick > .panel-row > .region {
	width: 50%;
}
.five-5x20 > .row-1 > .region {
	width: 50%;
}
.two-66-33 > .region-two-66-33-first {
	width: 66.66%;
}
.two-33-66 > .region-two-33-66-second {
	width: 66.66%;
}
.three-inset-right > .inset-wrapper > div.region-three-inset-right-middle {
	width: 66.66%;
}
.three-inset-left > .inset-wrapper > div.region-three-inset-left-middle {
	width: 66.66%;
}
.two-brick > .panel-row {
	float: none;
}
.three-inset-right > .inset-wrapper {
	width: 75%; float: left;
}
.three-inset-right > .inset-wrapper > .region {
	width: 100%;
}
.three-inset-left > .inset-wrapper > .region {
	width: 100%;
}
.three-inset-left > .region-three-inset-left-sidebar {
	float: right;
}
.three-inset-left > .inset-wrapper {
	float: right;
}
.three-inset-left > .inset-wrapper > .region-three-inset-left-middle {
	float: right;
}
.three-inset-left > .inset-wrapper {
	width: 75%;
}
.four-4x25 > .panel-row > .region {
	width: 50%; float: left;
}
.four-4x25 > .panel-row {
	width: 50%; float: left;
}
.six-6x16 > .panel-row {
	width: 33.33%; float: left;
}
.six-6x16 > .panel-row > .region {
	width: 100%; clear: both; float: none; display: block;
}
.five-5x20 > .row-1 {
	width: 40%;
}
.five-5x20 > .row-2 {
	width: 60%;
}
.five-5x20 > .panel-row {
	float: left;
}
}
@media only screen and (min-width:1025px)
{
.container {
	width: 100%; max-width: 1280px;
}
#content-column {
	clear: none; float: left;
}
.content-column {
	clear: none; float: left;
}
div.sidebar {
	clear: none; float: left;
}
.two-sidebars .content-inner {
	margin-right: 25%; margin-left: 25%;
}
.sidebar-first .content-inner {
	margin-right: 0px; margin-left: 25%;
}
.sidebar-second .content-inner {
	margin-right: 25%; margin-left: 0px;
}
.region-sidebar-first {
	width: 25%; margin-left: -100%;
}
.region-sidebar-second {
	width: 25%; margin-left: -25%;
}
.at-panel .region {
	float: left; display: inline;
}
.three-3x33 > .region {
	width: 33.33%;
}
.two-66-33 > .region-two-66-33-second {
	width: 33.33%;
}
.two-33-66 > .region-two-33-66-first {
	width: 33.33%;
}
.three-inset-right > .inset-wrapper > div.region-three-inset-right-inset {
	width: 33.33%;
}
.three-inset-left > .inset-wrapper > div.region-three-inset-left-inset {
	width: 33.33%;
}
.five-5x20 > .panel-row > .region {
	width: 33.33%;
}
.three-25-25-50 > .region {
	width: 25%;
}
.three-25-50-25 > .region {
	width: 25%;
}
.three-50-25-25 > .region {
	width: 25%;
}
.three-inset-right > .region-three-inset-right-sidebar {
	width: 25%;
}
.three-inset-left > .region-three-inset-left-sidebar {
	width: 25%;
}
.three-25-25-50 > div.region-three-25-25-50-third {
	width: 50%;
}
.three-25-50-25 > div.region-three-25-50-25-second {
	width: 50%;
}
.three-50-25-25 > div.region-three-50-25-25-first {
	width: 50%;
}
.two-50 > .region {
	width: 50%;
}
.two-brick > .panel-row > .region {
	width: 50%;
}
.six-6x16 > .panel-row > .region {
	width: 50%;
}
.five-5x20 > .row-1 div.region-five-first {
	width: 50%;
}
.five-5x20 .row-1 div.region-five-second {
	width: 50%;
}
.two-66-33 > .region-two-66-33-first {
	width: 66.66%;
}
.two-33-66 > .region-two-33-66-second {
	width: 66.66%;
}
.three-inset-right > .inset-wrapper > div.region-three-inset-right-middle {
	width: 66.66%;
}
.three-inset-left > .inset-wrapper > div.region-three-inset-left-middle {
	width: 66.66%;
}
.two-brick > .panel-row {
	float: none;
}
.three-inset-right > .inset-wrapper {
	width: 75%; float: left;
}
.three-inset-right > .inset-wrapper > .region {
	width: 100%;
}
.three-inset-left > .inset-wrapper > .region {
	width: 100%;
}
.three-inset-left > .region-three-inset-left-sidebar {
	float: right;
}
.three-inset-left > .inset-wrapper {
	float: right;
}
.three-inset-left > .inset-wrapper > .region-three-inset-left-middle {
	float: right;
}
.three-inset-left > .inset-wrapper {
	width: 75%;
}
.four-4x25 > .panel-row > .region {
	width: 50%; float: left;
}
.four-4x25 > .panel-row {
	width: 50%; float: left;
}
.six-6x16 > .panel-row {
	width: 33.33%; float: left;
}
.five-5x20 > .panel-row {
	width: 100%; clear: both; float: none; display: block;
}
}
@media only screen and (max-width:480px)
{
[class*='float-blocks'].region .block {
	width: 100%; float: none;
}
}
@media only screen and (max-width:320px)
{
body {
	font-size: 100%;
}
.at-mt .at-menu-toggle {
	
}
.at-mt .at-menu-toggle h2 {
	margin-bottom: 5px;
}
.at-mt .at-menu-toggle h2 a {
	background: rgb(238, 238, 238); padding: 2px 10px; border: 2px solid rgb(204, 204, 204); border-image: none;
}
.at-mt .at-menu-toggle ul.menu li a {
	background: rgb(238, 238, 238); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
}
@media only screen and (max-width:580px) and (min-width:321px)
{
body {
	font-size: 100%;
}
.at-mt .at-menu-toggle {
	
}
.at-mt .at-menu-toggle h2 {
	margin-bottom: 5px;
}
.at-mt .at-menu-toggle h2 a {
	background: rgb(238, 238, 238); padding: 2px 10px; border: 2px solid rgb(204, 204, 204); border-image: none;
}
.at-mt .at-menu-toggle ul.menu li a {
	background: rgb(238, 238, 238); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
}
@media only screen and (max-width:768px) and (min-width:581px)
{
html {
	font-size: 81.3%;
}
}
